{% extends "layout.html" %}
{% block nav %}
<li class="active"><a>Main</a></li>
<li><a href="/command">Commands</a></li>
{% endblock %}
{% block page %}
<div id="charts">
<div id="voltage-chart" class="chart"></div>
<div id="motor-chart" class="chart"></div>
<div id="charge-chart" class="chart"></div>
<div id="usedwatt-chart" class="chart"></div>
<div id="chargedwatt-chart" class="chart"></div>
<div id="kilowatt-chart" class="chart"></div>
</div>

<script type="text/javascript">
    var data = {{data|tojson}};
    var voltageChart = $.jqplot('voltage-chart', [data.voltageData], {
        title: 'Voltage',
        axesDefaults: {
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
            tickOptions: {
                angle: -30
            }
        },
        axes:{
            xaxis:{
                label:'Time',
                renderer: $.jqplot.DateAxisRenderer,
                tickOptions: {
                    formatString: '%M'
                }
            },
            yaxis:{
                label:'Volts'
            }
        }
    });
    var motorChart = $.jqplot('motor-chart', [data.motorData], {
        title: 'Motor Amps',
        axesDefaults: {
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
            tickOptions: {
                angle: -30
            }
        },
        axes:{
            xaxis:{
                label:'Time',
                renderer: $.jqplot.DateAxisRenderer,
                tickOptions: {
                    formatString: '%M'
                }
            },
            yaxis:{
                label:'Amps'
            }
        }
    });
    var chargeChart = $.jqplot('charge-chart', [data.chargeData], {
        title: 'Charge Amps',
        axesDefaults: {
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
            tickOptions: {
                angle: -30
            }
        },
        axes:{
            xaxis:{
                label:'Time',
                renderer: $.jqplot.DateAxisRenderer,
                tickOptions: {
                    formatString: '%M'
                }
            },
            yaxis:{
                label:'Amps'
            }
        }
    });
    var usedwattChart = $.jqplot('usedwatt-chart', [data.usedwattData], {
        title: 'Motor Watt Hours',
        axesDefaults: {
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
            tickOptions: {
                angle: -30
            }
        },
        axes:{
            xaxis:{
                label:'Time',
                renderer: $.jqplot.DateAxisRenderer,
                tickOptions: {
                    formatString: '%M'
                }
            },
            yaxis:{
                label:'Watt Hours'
            }
        }
    });
    var chargedwattChart = $.jqplot('chargedwatt-chart', [data.chargedwattData], {
        title: 'Charged Watt Hours',
        axesDefaults: {
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
            tickOptions: {
                angle: -30
            }
        },
        axes:{
            xaxis:{
                label:'Time',
                renderer: $.jqplot.DateAxisRenderer,
                tickOptions: {
                    formatString: '%M'
                }
            },
            yaxis:{
                label:'Watt Hours'
            }
        }
    });
    var kilowattChart = $.jqplot('kilowatt-chart', [data.kilowattData], {
        title: 'kiloWatt Hours',
        axesDefaults: {
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
            tickOptions: {
                angle: -30
            }
        },
        axes:{
            xaxis:{
                label:'Time',
                renderer: $.jqplot.DateAxisRenderer,
                tickOptions: {
                    formatString: '%M'
                }
            },
            yaxis:{
                label:'kiloWatt Hours'
            }
        }
    });

$(document).ready(function() {
        setTimeout(function(){location.reload();},5000);
});
</script>
{% endblock %}
