{% extends "layout.html" %}
{% block nav %}
<li class="active"><a>Main</a></li>
<li><a href="/command">Commands</a></li>
{% endblock %}
{% block page %}
<div id="charts">
<div id="voltage-chart" class="chart"></div>
<div id="motor-chart" class="chart"></div>
<div id="charge-chart" class="chart"></div>
<div id="kilowatt-chart" class="chart"></div>
</div>

<script type="text/javascript">
    var voltageData = [[1373961600000,0]];
    var motorData = [[1373961600000,0]];
    var chargeData = [[1373961600000,0]];
    var kilowattData = [[1373961600000,0]];

    var voltageChart = $.jqplot('voltage-chart', [voltageData], {
        title: 'Voltage',
        axesDefaults: {
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
            tickOptions: {
                angle: -30
            }
        },
        axes:{
            xaxis:{
                label:'Time',
                renderer: $.jqplot.DateAxisRenderer,
                tickOptions: {
                    formatString: '%#H:%M'
                }
            },
            yaxis:{
                label:'Volts'
            }
        }
    });
    var motorChart = $.jqplot('motor-chart', [motorData], {
        title: 'Motor Amps',
        axesDefaults: {
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
            tickOptions: {
                angle: -30
            }
        },
        axes:{
            xaxis:{
                label:'Time',
                renderer: $.jqplot.DateAxisRenderer,
                tickOptions: {
                    formatString: '%#H:%M'
                }
            },
            yaxis:{
                label:'Amps'
            }
        }
    });
    var chargeChart = $.jqplot('charge-chart', [chargeData], {
        title: 'Charge Amps',
        axesDefaults: {
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
            tickOptions: {
                angle: -30
            }
        },
        axes:{
            xaxis:{
                label:'Time',
                renderer: $.jqplot.DateAxisRenderer,
                tickOptions: {
                    formatString: '%#H:%M'
                }
            },
            yaxis:{
                label:'Amps'
            }
        }
    });
    var kilowattChart = $.jqplot('kilowatt-chart', [kilowattData], {
        title: 'kiloWatt Hours',
        axesDefaults: {
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
            tickOptions: {
                angle: -30
            }
        },
        axes:{
            xaxis:{
                label:'Time',
                renderer: $.jqplot.DateAxisRenderer,
                tickOptions: {
                    formatString: '%#H:%M'
                }
            },
            yaxis:{
                label:'kiloWatt Hours'
            }
        }
    });

function update() {
    $.get('/get',
        function(data) {   
            voltageData.push([data.time,data.voltage]); 
            motorData.push([data.time,data.motorAmps]); 
            chargeData.push([data.time,data.chargeAmps]); 
            kilowattData.push([data.time,data.kwhs]); 

            //voltageData.splice(0,1);
            //motorData.splice(0,1);
            //chargeData.splice(0,1);
            //kilowattData.splice(0,1);

            voltageChart.series[0].data = voltageData;
            motorChart.series[0].data = motorData;
            chargeChart.series[0].data = chargeData;
            kilowattChart.series[0].data = kilowattData;

            voltageChart.resetAxesScale();
            motorChart.resetAxesScale();
            chargeChart.resetAxesScale();
            kilowattChart.resetAxesScale();
            
            voltageChart.replot();
            motorChart.replot();
            chargeChart.replot();
            kilowattChart.replot();
        });
    setTimeout(update,5000);
}
$(document).ready(function() {
    setTimeout(update,5000);
});
</script>
{% endblock %}
